body {
    background: url(../images/background1.png);
    font-family: 'Coda', sans-serif;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
    color: red;
    text-align: center;
    font-size: 2rem;
    margin: 10px 5px;
}

h2 {
    text-align: center;
    /* color: white; */
    font-size: 2rem;
}

p {
    text-align: center;
    margin: 15px 10px;
}
footer {
    text-align: center;
    grid-area: 4/1/5/6;
}

.clicked {
    box-shadow: 0px 0px 2px 2px #fff;
}

.tile-grid {
    background-color: none;
    box-shadow: inset 0 0 10px #000000;
    /* background-image: url(public/images/magnifying-glass.png); */
    margin: 10px auto;
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    grid-area: 1/2/4/5;
    border-radius: 1rem;
}

.tile {
    height: 10%;
    width: 10%;
    border-radius: 1rem;
    margin: 7px;
    background-size: contain;
}

.form-floating {
    margin: 20px 50px;
}

.title {
    margin-bottom: 30px;
}

.instructions {
    margin-top: 50px;
    grid-area: 1/2/2/5;
    background-color: #f9f3f3;
    display: none;
    border: solid black 1px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.end-game {
    margin-top: 50px;
    grid-area: 1/2/3/5;
    background-color: #f0e4d7;
    border: solid black 1px;
    border-radius: 1rem;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#landing {
    margin-top: 50px;
    grid-area: 1/3/4/4;
}

#landing img {
    display: block;
    margin: 0 auto;
    height: 35%;
}

#round-div {
    grid-area: 1/2/2/1;
    
}
#score-div {
    grid-area: 2/1/3/2;
}

#moves-div {
    grid-area: 3/1/4/2;
}

#button-div {
    grid-area: 2/5/3/6;
    position: relative;
}

#end-game-div {
    grid-area: 2/2/3/5;
    background-color: white;
    border: solid black 1px;
}

#restart {
    position: absolute;
    top: 45%;
    
}

#difficulty {
    position: absolute;
    
}

